{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

<form action="" method="post" class="xfolkentry">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<table>
{% for field in form %}
    <tr>
        <td>
            <label for="id_old_password" class="required">
                {% trans field.label_tag %}:
            </label>
        </td>
        <td>
            {{ field }}
        </td>
        <td>
            {{ field.errors }}
        </td>
    </tr>
{% endfor %}
</table>

<input type="submit" value="{% trans 'Change my password' %}" class="default" />

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>

{% endblock %}
